services:
  dynamic-api:
    build: .
    restart: always
    networks:
      - tunnel_net

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - tunnel_net

networks:
  tunnel_net:
    driver: bridge